.grid
    .grid-row
        .grid-col-3
            .img-wrapper
                .grid-block
                    img.thumbnail(src=url_for(theme.thumbnail) alt=theme.title)
        .grid-col-9
            .grid-block
                p
                    | Hi, I'm Vivek.
                p
                    | Polyglot developer. Machine Learning enthusiast. Tripper. Aesthete.
                p
                    | #[a(target="_blank" href="https://en.wikipedia.org/wiki/San_Francisco") San Francisco]
                    |  via #[a(target="_blank" href="http://en.wikipedia.org/wiki/New_York_City") New York City]
                    | , #[a(target="_blank" href="https://en.wikipedia.org/wiki/London") London]
                    | , and #[a(target="_blank" href="http://en.wikipedia.org/wiki/Chicago") Chicago]
                    | . Alumni of #[a(target="_blank" href="http://en.wikipedia.org/wiki/Columbia_University") Columbia University]
                    |  and #[a(target="_blank" href="http://en.wikipedia.org/wiki/University_of_Oxford") Oxford University]
                    | .
                p
                    | I solve problems at #[a(target="_blank" href="https://www.hackerrank.com/liquidpie") Hackerrank] and
                    |  give answers at #[a(target="_blank" href="https://stackoverflow.com/users/2596827/liquidpie") Stackoverflow]
                p
                    | Intrigued by design, traveling, photography, classical music, strategy, writing, art, armchair philosophy,
                    | fabulous food, and even better conversations.
                p
                    | Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it,
                    | and to be surrounded by those who bring out the best in me.
                p
                    | Say hi on Twitter #[a(target="_blank" href="http://twitter.com/vivekjaiswal22") @vivekjaiswal22]