.grid
    .grid-row
        .grid-col-3
            .img-wrapper
                .grid-block
                    img.thumbnail(src=url_for(theme.thumbnail) alt=theme.title)
        .grid-col-9
            .grid-block
                p
                    | Hi, I'm Vivek.
                p
                    | Polyglot developer. Machine Learning enthusiast. Tripper. Aesthete.
                p
                    | Solves problems at #[a(target="_blank" href="https://www.hackerrank.com/liquidpie") Hackerrank] and
                    | &nbsp;suggest solutions to problems at #[a(target="_blank" href="https://stackoverflow.com/users/2596827/liquidpie?tab=profile") Stackoverflow].
                p
                    | Contributes to FOSS via #[a(target="_blank" href="#{theme.github_url}") Github] and #[a(target="_blank" href="https://www.apache.org/") ASF].
                p
                    | Eclectic taste in various fields of computing such as full stack development, distributed systems, machine learning and data science.
                p
                    | Sometimes write about life, psychology, travel and armchair philosophy at
                    | &nbsp;#[a(target="_blank" href="https://www.quora.com/profile/Vivek-Jaiswal-13") Quora] and
                    | &nbsp;#[a(target="_blank" href="https://medium.com/@liquidpie") Medium].
                p
                    | Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it,
                    | and to be surrounded by those who bring out the best in me.
                p
                    | Say hi on Twitter #[a(target="_blank" href="http://twitter.com/vivekjaiswal22") @vivekjaiswal22]