.site-title-wrapper
    .logo-wrapper
        a.logo-link(href=url_for())
            img(src=url_for(theme.logo) alt=theme.author)
    .logo-image-title
        a.logo-link(href=url_for()) theme.author